<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>username</key>
		<string>gamecd_lol</string>
		<key>index</key>
		<integer>0</integer>
		<key>type</key>
		<string>英雄联盟</string>
		<key>users</key>
		<array>
			<dict>
				<key>avatar</key>
				<string>91386394</string>
				<key>avatar_large</key>
				<string>http://g2.ykimg.com/0130391F484E5344E5C52B0572721AAE9BD459-DCA8-35AF-F324-90CBECA499A9</string>
				<key>description</key>
				<string>享受游戏，热爱生活，欢迎光临小苍优酷空间！</string>
				<key>favorites_count</key>
				<integer>0</integer>
				<key>follower</key>
				<false/>
				<key>followers_count</key>
				<integer>354220</integer>
				<key>following</key>
				<false/>
				<key>following_count</key>
				<integer>4</integer>
				<key>gender</key>
				<string>f</string>
				<key>id</key>
				<string>91386394</string>
				<key>link</key>
				<string>http://i.youku.com/u/UMzY1NTQ1NTc2</string>
				<key>name</key>
				<string>小苍Estelle</string>
				<key>playlists_count</key>
				<integer>11</integer>
				<key>regist_time</key>
				<string>2011-08-21 11:37:09</string>
				<key>statuses_count</key>
				<integer>615</integer>
				<key>subscribe_count</key>
				<integer>0</integer>
				<key>videos_count</key>
				<string>457</string>
				<key>vv_count</key>
				<integer>123781148</integer>
			</dict>
			<dict>
				<key>avatar</key>
				<string>65078683</string>
				<key>avatar_large</key>
				<string>http://g1.ykimg.com/0130391F455679A9282C6B03E1059B173FF684-32F2-B8EF-E446-086C2BB72697</string>
				<key>description</key>
				<string>微博@起小点 英雄联盟视频制作人
投稿邮箱：qixiaodian@163.com
合作联系：qxd@startor.com</string>
				<key>favorites_count</key>
				<integer>0</integer>
				<key>follower</key>
				<false/>
				<key>followers_count</key>
				<integer>412840</integer>
				<key>following</key>
				<false/>
				<key>following_count</key>
				<integer>3</integer>
				<key>gender</key>
				<string>m</string>
				<key>id</key>
				<string>65078683</string>
				<key>link</key>
				<string>http://i.youku.com/u/UMjYwMzE0NzMy</string>
				<key>name</key>
				<string>起小点</string>
				<key>playlists_count</key>
				<integer>20</integer>
				<key>regist_time</key>
				<string>2011-10-21 10:12:11</string>
				<key>statuses_count</key>
				<integer>110</integer>
				<key>subscribe_count</key>
				<integer>0</integer>
				<key>videos_count</key>
				<string>568</string>
				<key>vv_count</key>
				<integer>250894389</integer>
			</dict>
			<dict>
				<key>avatar</key>
				<string>76521919</string>
				<key>avatar_large</key>
				<string>http://g1.ykimg.com/0130391F484E47364C5E20048FA1BF4E006EA2-7168-DFBF-3B6D-610A2F18C963</string>
				<key>description</key>
				<string>JY淘宝店  ：esllovejy.taobao.com
I贴吧ID：ESLLoVeJY
人人网：www.renren.com/esllovejy 
JY微博    ：http://t.qq.com/lovejy_
JY新浪    ：www.weibo.com/esllovejy</string>
				<key>favorites_count</key>
				<integer>36</integer>
				<key>follower</key>
				<false/>
				<key>followers_count</key>
				<integer>415402</integer>
				<key>following</key>
				<false/>
				<key>following_count</key>
				<integer>16</integer>
				<key>gender</key>
				<string>m</string>
				<key>id</key>
				<string>76521919</string>
				<key>link</key>
				<string>http://i.youku.com/u/UMzA2MDg3Njc2</string>
				<key>name</key>
				<string>LovejyForSc2</string>
				<key>playlists_count</key>
				<integer>7</integer>
				<key>regist_time</key>
				<string>2010-09-29 11:20:37</string>
				<key>statuses_count</key>
				<integer>347</integer>
				<key>subscribe_count</key>
				<integer>0</integer>
				<key>videos_count</key>
				<string>233</string>
				<key>vv_count</key>
				<integer>103242975</integer>
			</dict>
			<dict>
				<key>avatar</key>
				<string>99201492</string>
				<key>avatar_large</key>
				<string>http://g1.ykimg.com/0130391F455451AA44A36605E9B1D499D61BBC-0BC5-5E71-27ED-4853910EB2BA</string>
				<key>description</key>
				<string>快乐游戏，MISS解说。

Miss，游戏女主持，中国最佳女电竞选手，全能游戏女解说，魔兽3、星际2 女子冠军，《Miss排位日记》制作者。

Miss淘宝店：
外设：missgame.taobao.com
零食：missfood.taobao.com
服装：chuanmiss.taobao.com
男鞋：maimiss.taobao.com

擅长游戏：英雄联盟,星际2,魔兽3,DOTA
2008年、2009年广州WCG魔兽女子冠军
2010年第三届IronLady国际女子赛冠军
2010年IP CUP国际女子线上公开赛冠军
2010年全国电子竞技大赛16强中唯一一位女选手
2012年3月DIVINA星际2女王赛冠军
2012年6月各大媒体评为年度最佳女选手
2012年10月 《7M教学大全》
2013年06月 《Miss排位日记》制作
2013年10月 《M7号双排记》</string>
				<key>favorites_count</key>
				<integer>7</integer>
				<key>follower</key>
				<false/>
				<key>followers_count</key>
				<integer>435296</integer>
				<key>following</key>
				<false/>
				<key>following_count</key>
				<integer>22</integer>
				<key>gender</key>
				<string>f</string>
				<key>id</key>
				<string>99201492</string>
				<key>link</key>
				<string>http://i.youku.com/u/UMzk2ODA1OTY4</string>
				<key>name</key>
				<string>Miss七芯海棠</string>
				<key>playlists_count</key>
				<integer>8</integer>
				<key>regist_time</key>
				<string>2012-01-04 00:55:01</string>
				<key>statuses_count</key>
				<integer>217</integer>
				<key>subscribe_count</key>
				<integer>0</integer>
				<key>videos_count</key>
				<string>132</string>
				<key>vv_count</key>
				<integer>26481961</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>username</key>
		<string>game_dota</string>
		<key>index</key>
		<integer>1</integer>
		<key>type</key>
		<string>Dota/Dota2</string>
		<key>users</key>
		<array>
			<dict>
				<key>avatar</key>
				<string>42831979</string>
				<key>avatar_large</key>
				<string>http://g4.ykimg.com/0130391F4553FA2FC7BB03028D906BF1F0EE75-8D21-BE77-BD97-78E674ACBD3A</string>
				<key>description</key>
				<string>海涛淘宝小店：dotahaitao.taobao.com
2005年5月—2009年1月任Games TV游戏风云频道主持人；
2009年1月—2009年10月任PLU游戏娱乐传媒主持人；
现任广东省韶关人民广播电台节目主持人
我的日志空间：http://30911659.qzone.qq.com
海涛官方YY语音频道“涛涛不绝”：1422  
我一有空就去和大家聊天或者打打IH，开开黑，没有森严的等级界限，我们要和谐地DOTA！</string>
				<key>favorites_count</key>
				<integer>1</integer>
				<key>follower</key>
				<false/>
				<key>followers_count</key>
				<integer>280172</integer>
				<key>following</key>
				<false/>
				<key>following_count</key>
				<integer>31</integer>
				<key>gender</key>
				<string>m</string>
				<key>id</key>
				<string>42831979</string>
				<key>link</key>
				<string>http://i.youku.com/u/UMTcxMzI3OTE2</string>
				<key>name</key>
				<string>Esports海涛</string>
				<key>playlists_count</key>
				<integer>3</integer>
				<key>regist_time</key>
				<string>2009-10-22 10:06:40</string>
				<key>statuses_count</key>
				<integer>124</integer>
				<key>subscribe_count</key>
				<integer>0</integer>
				<key>videos_count</key>
				<string>266</string>
				<key>vv_count</key>
				<integer>171915747</integer>
			</dict>
			<dict>
				<key>avatar</key>
				<string>126967438</string>
				<key>avatar_large</key>
				<string>http://g4.ykimg.com/0130391F455237A09F3F5907915E8E53B0C493-3F42-FC86-970D-C033524EFB10</string>
				<key>description</key>
				<string>前职业选手，非常活跃的Dota视频解说， 人称上头乖，其实我和你一样是一个非常有激情的刀塔玩家！</string>
				<key>favorites_count</key>
				<integer>0</integer>
				<key>follower</key>
				<false/>
				<key>followers_count</key>
				<integer>293646</integer>
				<key>following</key>
				<false/>
				<key>following_count</key>
				<integer>154</integer>
				<key>gender</key>
				<string>m</string>
				<key>id</key>
				<string>126967438</string>
				<key>link</key>
				<string>http://i.youku.com/u/UNTA3ODY5NzUy</string>
				<key>name</key>
				<string>GuAi小乖</string>
				<key>playlists_count</key>
				<integer>5</integer>
				<key>regist_time</key>
				<string>2012-08-13 19:40:24</string>
				<key>statuses_count</key>
				<integer>241</integer>
				<key>subscribe_count</key>
				<integer>0</integer>
				<key>videos_count</key>
				<string>145</string>
				<key>vv_count</key>
				<integer>7807874</integer>
			</dict>
			<dict>
				<key>avatar</key>
				<string>79241663</string>
				<key>avatar_large</key>
				<string>http://g1.ykimg.com/0130391F484CF4FDE0385104B921BF01310A93-BED8-1325-7DA6-6B5C0DD32DBA</string>
				<key>description</key>
				<string>For The Dream
05年考入浙大，完成老妈老爸对我考名牌大学的期待
08年加入EHOME决赛5杀拿到中国第2个亚洲冠军，不务正业的小孩迎来了异样眼光。
09年自己创建FTD战队拿到IEM全国冠军和中国人第一个世界冠军，游戏生涯再无遗憾。
10年战队迎来稳定赞助，开始转型经理，解说，创业。
人生的路还有很长，
the truth is what it is,not what you see</string>
				<key>favorites_count</key>
				<integer>-2</integer>
				<key>follower</key>
				<false/>
				<key>followers_count</key>
				<integer>634993</integer>
				<key>following</key>
				<false/>
				<key>following_count</key>
				<integer>3</integer>
				<key>gender</key>
				<string>m</string>
				<key>id</key>
				<string>79241663</string>
				<key>link</key>
				<string>http://i.youku.com/u/UMzE2OTY2NjUy</string>
				<key>name</key>
				<string>伍声2009</string>
				<key>playlists_count</key>
				<integer>4</integer>
				<key>regist_time</key>
				<string>2010-11-24 23:39:57</string>
				<key>statuses_count</key>
				<integer>277</integer>
				<key>subscribe_count</key>
				<integer>0</integer>
				<key>videos_count</key>
				<string>310</string>
				<key>vv_count</key>
				<integer>194245887</integer>
			</dict>
			<dict>
				<key>avatar</key>
				<string>109937062</string>
				<key>avatar_large</key>
				<string>http://g2.ykimg.com/0130391F4554133DD11CEF068D81A6CA239FBC-58BC-6B61-C195-1D12E5118590</string>
				<key>description</key>
				<string>过年啦过年啦，祝大家新年快乐啊~~~

过完年会偷偷回来给大家继续更新视频的，哈哈哈</string>
				<key>favorites_count</key>
				<integer>85</integer>
				<key>follower</key>
				<false/>
				<key>followers_count</key>
				<integer>32668</integer>
				<key>following</key>
				<false/>
				<key>following_count</key>
				<integer>70</integer>
				<key>gender</key>
				<string>m</string>
				<key>id</key>
				<string>109937062</string>
				<key>link</key>
				<string>http://i.youku.com/u/UNDM5NzQ4MjQ4</string>
				<key>name</key>
				<string>西瓦幽鬼</string>
				<key>playlists_count</key>
				<integer>23</integer>
				<key>regist_time</key>
				<string>2012-05-05 19:21:00</string>
				<key>statuses_count</key>
				<integer>3291</integer>
				<key>subscribe_count</key>
				<integer>0</integer>
				<key>videos_count</key>
				<string>841</string>
				<key>vv_count</key>
				<integer>5041857</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>username</key>
		<string>gamecd_单机</string>
		<key>index</key>
		<integer>2</integer>
		<key>type</key>
		<string>单机/平台</string>
		<key>users</key>
		<array>
			<dict>
				<key>avatar</key>
				<string>35305306</string>
				<key>avatar_large</key>
				<string>http://g4.ykimg.com/0130391F4853DE7727A6BF021AB75AD66C6BD6-6D46-856E-2895-3B1CE2A9A77F</string>
				<key>description</key>
				<string>主打快节奏迅猛式攻略解说。技术和娱乐兼备，风格因游戏而异</string>
				<key>favorites_count</key>
				<integer>0</integer>
				<key>follower</key>
				<false/>
				<key>followers_count</key>
				<integer>200544</integer>
				<key>following</key>
				<false/>
				<key>following_count</key>
				<integer>3</integer>
				<key>gender</key>
				<string>m</string>
				<key>id</key>
				<string>35305306</string>
				<key>link</key>
				<string>http://i.youku.com/u/UMTQxMjIxMjI0</string>
				<key>name</key>
				<string>纯黑-GK</string>
				<key>playlists_count</key>
				<integer>101</integer>
				<key>regist_time</key>
				<string>2009-07-25 18:05:34</string>
				<key>statuses_count</key>
				<integer>517</integer>
				<key>subscribe_count</key>
				<integer>0</integer>
				<key>videos_count</key>
				<string>1218</string>
				<key>vv_count</key>
				<integer>10159839</integer>
			</dict>
			<dict>
				<key>avatar</key>
				<string>22901737</string>
				<key>avatar_large</key>
				<string>http://g1.ykimg.com/0130391F42530C5FD81E18015D73E9C2C9CBFF-101C-4340-C1BB-866D7E1EEC55</string>
				<key>description</key>
				<string>[url=http://weibo.com/blackgoogle]黑桐谷歌 视频攻略 更新动向 新浪微博[/url]
[url=https://me.alipay.com/heitongguge]支持原创 一元也可 有你支持 由我更新[/url]</string>
				<key>favorites_count</key>
				<integer>81</integer>
				<key>follower</key>
				<false/>
				<key>followers_count</key>
				<integer>275926</integer>
				<key>following</key>
				<false/>
				<key>following_count</key>
				<integer>62</integer>
				<key>gender</key>
				<string>m</string>
				<key>id</key>
				<string>22901737</string>
				<key>link</key>
				<string>http://i.youku.com/u/UOTE2MDY5NDg=</string>
				<key>name</key>
				<string>黑桐谷歌</string>
				<key>playlists_count</key>
				<integer>56</integer>
				<key>regist_time</key>
				<string>2009-01-15 16:04:50</string>
				<key>statuses_count</key>
				<integer>1485</integer>
				<key>subscribe_count</key>
				<integer>0</integer>
				<key>videos_count</key>
				<string>952</string>
				<key>vv_count</key>
				<integer>20292270</integer>
			</dict>
			<dict>
				<key>avatar</key>
				<string>89865946</string>
				<key>avatar_large</key>
				<string>http://g2.ykimg.com/0130391F4553FECB251B3F055B3EDA0E924372-271C-C9BA-1147-4EE83A92E0C6</string>
				<key>description</key>
				<string>我就是个拍片的呀</string>
				<key>favorites_count</key>
				<integer>4</integer>
				<key>follower</key>
				<false/>
				<key>followers_count</key>
				<integer>142200</integer>
				<key>following</key>
				<false/>
				<key>following_count</key>
				<integer>67</integer>
				<key>gender</key>
				<string>m</string>
				<key>id</key>
				<string>89865946</string>
				<key>link</key>
				<string>http://i.youku.com/u/UMzU5NDYzNzg0</string>
				<key>name</key>
				<string>老戴在此</string>
				<key>playlists_count</key>
				<integer>77</integer>
				<key>regist_time</key>
				<string>2011-07-15 03:21:39</string>
				<key>statuses_count</key>
				<integer>957</integer>
				<key>subscribe_count</key>
				<integer>0</integer>
				<key>videos_count</key>
				<string>502</string>
				<key>vv_count</key>
				<integer>96387</integer>
			</dict>
			<dict>
				<key>avatar</key>
				<string>60655822</string>
				<key>avatar_large</key>
				<string>http://g3.ykimg.com/0130391F484BD38A1E99FC039D88CE1DC72C94-556F-958E-87A9-3F507063DA0A</string>
				<key>description</key>
				<string>做视频的宗旨，在于分享游戏最原始的娱乐体验。在我这里，最重视的是对于游戏剧情及氛围的理解与享受。

想第一时间获得更新，请订阅我的优酷空间。想及时获得直播信息，请关注我的新浪微博。
★★★★★★</string>
				<key>favorites_count</key>
				<integer>3</integer>
				<key>follower</key>
				<false/>
				<key>followers_count</key>
				<integer>18291</integer>
				<key>following</key>
				<false/>
				<key>following_count</key>
				<integer>190</integer>
				<key>gender</key>
				<string>f</string>
				<key>id</key>
				<string>60655822</string>
				<key>link</key>
				<string>http://i.youku.com/u/UMjQyNjIzMjg4</string>
				<key>name</key>
				<string>doraiba</string>
				<key>playlists_count</key>
				<integer>19</integer>
				<key>regist_time</key>
				<string>2010-04-24 22:24:22</string>
				<key>statuses_count</key>
				<integer>501</integer>
				<key>subscribe_count</key>
				<integer>0</integer>
				<key>videos_count</key>
				<string>164</string>
				<key>vv_count</key>
				<integer>333790</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>username</key>
		<string>gamecd_sc</string>
		<key>index</key>
		<integer>3</integer>
		<key>type</key>
		<string>星际争霸</string>
		<key>users</key>
		<array>
			<dict>
				<key>avatar</key>
				<string>98487218</string>
				<key>avatar_large</key>
				<string>http://g2.ykimg.com/0130391F484EFD8E21AD4105DECBB2541A271D-7420-563D-CEDF-E581CD8FCC9A</string>
				<key>description</key>
				<string>花开花落又是一季，在电竞这个世界里，过去了我们青葱的岁月。
F91,小色，joy和周宁这四个电竞老男孩在这里和大家一起分享星际，一起给我们的青春带来回忆</string>
				<key>favorites_count</key>
				<integer>13</integer>
				<key>follower</key>
				<false/>
				<key>followers_count</key>
				<integer>44947</integer>
				<key>following</key>
				<false/>
				<key>following_count</key>
				<integer>12</integer>
				<key>gender</key>
				<string>m</string>
				<key>id</key>
				<string>98487218</string>
				<key>link</key>
				<string>http://i.youku.com/u/UMzkzOTQ4ODcy</string>
				<key>name</key>
				<string>星际老男孩</string>
				<key>playlists_count</key>
				<integer>3</integer>
				<key>regist_time</key>
				<string>2011-12-26 01:03:29</string>
				<key>statuses_count</key>
				<integer>2543</integer>
				<key>subscribe_count</key>
				<integer>0</integer>
				<key>videos_count</key>
				<string>2123</string>
				<key>vv_count</key>
				<integer>13813427</integer>
			</dict>
			<dict>
				<key>avatar</key>
				<string>79933434</string>
				<key>avatar_large</key>
				<string>http://g1.ykimg.com/0130391F455247A2D88C9C04C3AFFAF4009394-E09C-C078-F0DF-FADEC154FB91</string>
				<key>description</key>
				<string>打一辈子星际，做一辈子朋友！
没事儿就搓，炉石传说！</string>
				<key>favorites_count</key>
				<integer>0</integer>
				<key>follower</key>
				<false/>
				<key>followers_count</key>
				<integer>157629</integer>
				<key>following</key>
				<false/>
				<key>following_count</key>
				<integer>96</integer>
				<key>gender</key>
				<string>m</string>
				<key>id</key>
				<string>79933434</string>
				<key>link</key>
				<string>http://i.youku.com/u/UMzE5NzMzNzM2</string>
				<key>name</key>
				<string>星际少帮主</string>
				<key>playlists_count</key>
				<integer>13</integer>
				<key>regist_time</key>
				<string>2010-12-06 22:03:28</string>
				<key>statuses_count</key>
				<integer>896</integer>
				<key>subscribe_count</key>
				<integer>0</integer>
				<key>videos_count</key>
				<string>750</string>
				<key>vv_count</key>
				<integer>14408395</integer>
			</dict>
			<dict>
				<key>avatar</key>
				<string>60272318</string>
				<key>avatar_large</key>
				<string>http://g1.ykimg.com/0130391F455203D7E08B1B0397AEBE31F25829-9C96-2B35-40A8-9305CAA1D0F5</string>
				<key>description</key>
				<string>宇翔微博：http://t.qq.com/renyuxiang</string>
				<key>favorites_count</key>
				<integer>1</integer>
				<key>follower</key>
				<false/>
				<key>followers_count</key>
				<integer>1174</integer>
				<key>following</key>
				<false/>
				<key>following_count</key>
				<integer>15</integer>
				<key>gender</key>
				<string>m</string>
				<key>id</key>
				<string>60272318</string>
				<key>link</key>
				<string>http://i.youku.com/u/UMjQxMDg5Mjcy</string>
				<key>name</key>
				<string>任宇翔RYX</string>
				<key>playlists_count</key>
				<integer>3</integer>
				<key>regist_time</key>
				<string>2010-04-21 16:26:32</string>
				<key>statuses_count</key>
				<integer>42</integer>
				<key>subscribe_count</key>
				<integer>0</integer>
				<key>videos_count</key>
				<string>153</string>
				<key>vv_count</key>
				<integer>1811986</integer>
			</dict>
			<dict>
				<key>avatar</key>
				<string>59050069</string>
				<key>avatar_large</key>
				<string>http://g4.ykimg.com/0130391F484BC140BFB5FF03850855648DD8AE-BEB8-EA11-AF46-0C51BBD6C570</string>
				<key>description</key>
				<string>一群(超级群):102252841已满
星际2小爱交流2群:105976877
新浪微博：http://t.sina.com.cn/1733287474
人人网新开通：http://www.renren.com/profile.do?id=336991062</string>
				<key>favorites_count</key>
				<integer>10</integer>
				<key>follower</key>
				<false/>
				<key>followers_count</key>
				<integer>784</integer>
				<key>following</key>
				<false/>
				<key>following_count</key>
				<integer>222</integer>
				<key>gender</key>
				<string>m</string>
				<key>id</key>
				<string>59050069</string>
				<key>link</key>
				<string>http://i.youku.com/u/UMjM2MjAwMjc2</string>
				<key>name</key>
				<string>→愛づ兒★</string>
				<key>playlists_count</key>
				<integer>6</integer>
				<key>regist_time</key>
				<string>2010-04-10 20:19:35</string>
				<key>statuses_count</key>
				<integer>301</integer>
				<key>subscribe_count</key>
				<integer>0</integer>
				<key>videos_count</key>
				<string>515</string>
				<key>vv_count</key>
				<integer>4344800</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>username</key>
		<string>gamecd_stone</string>
		<key>index</key>
		<integer>4</integer>
		<key>type</key>
		<string>炉石传说</string>
		<key>users</key>
		<array>
			<dict>
				<key>avatar</key>
				<string>98267886</string>
				<key>avatar_large</key>
				<string>http://g4.ykimg.com/0130391F484F8CF09F0A1A05DB72EE538C6A79-C92A-1A10-9315-CAD12FCCC4AB</string>
				<key>description</key>
				<string>七煌解说，原英语教师
每晚7点半在战旗直播炉石传说
www.zhanqi.tv/biyouxia
欢迎大家来看~</string>
				<key>favorites_count</key>
				<integer>0</integer>
				<key>follower</key>
				<false/>
				<key>followers_count</key>
				<integer>22990</integer>
				<key>following</key>
				<false/>
				<key>following_count</key>
				<integer>3</integer>
				<key>gender</key>
				<string>m</string>
				<key>id</key>
				<string>98267886</string>
				<key>link</key>
				<string>http://i.youku.com/u/UMzkzMDcxNTQ0</string>
				<key>name</key>
				<string>毕游侠</string>
				<key>playlists_count</key>
				<integer>4</integer>
				<key>regist_time</key>
				<string>2011-12-23 06:23:19</string>
				<key>statuses_count</key>
				<integer>286</integer>
				<key>subscribe_count</key>
				<integer>0</integer>
				<key>videos_count</key>
				<string>217</string>
				<key>vv_count</key>
				<integer>492894</integer>
			</dict>
			<dict>
				<key>avatar</key>
				<string>102684699</string>
				<key>avatar_large</key>
				<string>http://g4.ykimg.com/0130391F484F4912EBCECF061ED81B0D806856-30DC-9335-5A59-D353C6EA154E</string>
				<key>description</key>
				<string>笑谈风云，一语定乾坤。大家好，我是小鱼。
小鱼的三国杀QQ大群，小鱼儿的大鱼缸，群号256611385。投稿邮箱344171763@qq.com。</string>
				<key>favorites_count</key>
				<integer>0</integer>
				<key>follower</key>
				<false/>
				<key>followers_count</key>
				<integer>7030</integer>
				<key>following</key>
				<false/>
				<key>following_count</key>
				<integer>41</integer>
				<key>gender</key>
				<string>m</string>
				<key>id</key>
				<string>102684699</string>
				<key>link</key>
				<string>http://i.youku.com/u/UNDEwNzM4Nzk2</string>
				<key>name</key>
				<string>逍遥小鱼儿11</string>
				<key>playlists_count</key>
				<integer>17</integer>
				<key>regist_time</key>
				<string>2012-02-21 19:43:58</string>
				<key>statuses_count</key>
				<integer>754</integer>
				<key>subscribe_count</key>
				<integer>0</integer>
				<key>videos_count</key>
				<string>269</string>
				<key>vv_count</key>
				<integer>1613886</integer>
			</dict>
			<dict>
				<key>avatar</key>
				<string>90351410</string>
				<key>avatar_large</key>
				<string>http://g4.ykimg.com/0130391F45538D8597BC300562A732CEF9C5E1-FDB6-F4C1-76B5-D8E05D44FD20</string>
				<key>description</key>
				<string>毕游侠直播地址 http://www.zhanqi.tv/biyouxia</string>
				<key>favorites_count</key>
				<integer>0</integer>
				<key>follower</key>
				<false/>
				<key>followers_count</key>
				<integer>7061</integer>
				<key>following</key>
				<false/>
				<key>following_count</key>
				<integer>10</integer>
				<key>gender</key>
				<string>m</string>
				<key>id</key>
				<string>90351410</string>
				<key>link</key>
				<string>http://i.youku.com/u/UMzYxNDA1NjQw</string>
				<key>name</key>
				<string>炉石传说直播录像</string>
				<key>playlists_count</key>
				<integer>16</integer>
				<key>regist_time</key>
				<string>2011-07-27 15:58:15</string>
				<key>statuses_count</key>
				<integer>576</integer>
				<key>subscribe_count</key>
				<integer>0</integer>
				<key>videos_count</key>
				<string>231</string>
				<key>vv_count</key>
				<integer>536</integer>
			</dict>
			<dict>
				<key>avatar</key>
				<string>434197423</string>
				<key>avatar_large</key>
				<string>http://g4.ykimg.com/0130391F45548ECC0762B319E153AF6CFB385B-4E55-F311-E151-8BFCE8CED122</string>
				<key>description</key>
				<string>炉石视频爱好者，最快速度更新炉石各比赛视频。
喜欢炉石视频网友可以订阅支持一下，我会尽量出更多高质量的视频~！</string>
				<key>favorites_count</key>
				<integer>0</integer>
				<key>follower</key>
				<false/>
				<key>followers_count</key>
				<integer>4352</integer>
				<key>following</key>
				<false/>
				<key>following_count</key>
				<integer>5</integer>
				<key>gender</key>
				<string>m</string>
				<key>id</key>
				<string>434197423</string>
				<key>link</key>
				<string>http://i.youku.com/u/UMTczNjc4OTY5Mg==</string>
				<key>name</key>
				<string>破名字炉石传说视频</string>
				<key>playlists_count</key>
				<integer>7</integer>
				<key>regist_time</key>
				<string>2014-09-23 09:48:06</string>
				<key>statuses_count</key>
				<integer>188</integer>
				<key>subscribe_count</key>
				<integer>0</integer>
				<key>videos_count</key>
				<integer>0</integer>
				<key>vv_count</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>username</key>
		<string>gamecd_wow</string>
		<key>index</key>
		<integer>5</integer>
		<key>type</key>
		<string>魔兽/风暴/暗黑</string>
		<key>users</key>
		<array>
			<dict>
				<key>avatar</key>
				<string>62297243</string>
				<key>avatar_large</key>
				<string>http://g1.ykimg.com/0130391F45522C3C9C335C03B6949BAE2C4CDD-F744-3C43-06C7-841223F82131</string>
				<key>description</key>
				<string>CV梦想路上狂奔的一条疯狗。</string>
				<key>favorites_count</key>
				<integer>0</integer>
				<key>follower</key>
				<false/>
				<key>followers_count</key>
				<integer>54136</integer>
				<key>following</key>
				<false/>
				<key>following_count</key>
				<integer>4</integer>
				<key>gender</key>
				<string>f</string>
				<key>id</key>
				<string>62297243</string>
				<key>link</key>
				<string>http://i.youku.com/u/UMjQ5MTg4OTcy</string>
				<key>name</key>
				<string>夏一可死毒舌_</string>
				<key>playlists_count</key>
				<integer>9</integer>
				<key>regist_time</key>
				<string>2010-05-11 11:44:57</string>
				<key>statuses_count</key>
				<integer>63</integer>
				<key>subscribe_count</key>
				<integer>0</integer>
				<key>videos_count</key>
				<string>34</string>
				<key>vv_count</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>avatar</key>
				<string>12124597</string>
				<key>avatar_large</key>
				<string>http://g2.ykimg.com/0130391F45539CB63982DB00B901B5289C04F0-714C-679B-CB3B-A313C3D69219</string>
				<key>description</key>
				<string>直播地址:www.douyutv.com/38698
风暴英雄讨论群: 
01(2000人):77747438
02(2000人):314756335
03(2000人):189709455</string>
				<key>favorites_count</key>
				<integer>2</integer>
				<key>follower</key>
				<false/>
				<key>followers_count</key>
				<integer>13256</integer>
				<key>following</key>
				<false/>
				<key>following_count</key>
				<integer>44</integer>
				<key>gender</key>
				<string>m</string>
				<key>id</key>
				<string>12124597</string>
				<key>link</key>
				<string>http://i.youku.com/u/UNDg0OTgzODg=</string>
				<key>name</key>
				<string>msjoy</string>
				<key>playlists_count</key>
				<integer>4</integer>
				<key>regist_time</key>
				<string>2008-05-24 00:50:14</string>
				<key>statuses_count</key>
				<integer>83</integer>
				<key>subscribe_count</key>
				<integer>0</integer>
				<key>videos_count</key>
				<string>76</string>
				<key>vv_count</key>
				<integer>297832</integer>
			</dict>
			<dict>
				<key>avatar</key>
				<string>36519357</string>
				<key>avatar_large</key>
				<string>http://g1.ykimg.com/0130391F4554A5B07039B8022D3DBD1990C790-A018-ED35-DFC1-87C1B6EB07DF</string>
				<key>description</key>
				<string>努力成为风暴英雄最正直的解说</string>
				<key>favorites_count</key>
				<integer>8</integer>
				<key>follower</key>
				<false/>
				<key>followers_count</key>
				<integer>8175</integer>
				<key>following</key>
				<false/>
				<key>following_count</key>
				<integer>10</integer>
				<key>gender</key>
				<string>m</string>
				<key>id</key>
				<string>36519357</string>
				<key>link</key>
				<string>http://i.youku.com/u/UMTQ2MDc3NDI4</string>
				<key>name</key>
				<string>三宝解说</string>
				<key>playlists_count</key>
				<integer>5</integer>
				<key>regist_time</key>
				<string>2009-08-13 11:10:24</string>
				<key>statuses_count</key>
				<integer>642</integer>
				<key>subscribe_count</key>
				<integer>0</integer>
				<key>videos_count</key>
				<string>550</string>
				<key>vv_count</key>
				<integer>709086</integer>
			</dict>
			<dict>
				<key>avatar</key>
				<string>89984588</string>
				<key>avatar_large</key>
				<string>http://g4.ykimg.com/0130391F45527B5193D6B2055D0E4C1300F628-AF6B-567B-C225-8B177E5949E5</string>
				<key>description</key>
				<string>我的微信公众号：捞月狗
在优酷空间、新浪微博搜索“台服痞子狼”可以找到我</string>
				<key>favorites_count</key>
				<integer>0</integer>
				<key>follower</key>
				<false/>
				<key>followers_count</key>
				<integer>13346</integer>
				<key>following</key>
				<false/>
				<key>following_count</key>
				<integer>19</integer>
				<key>gender</key>
				<string>m</string>
				<key>id</key>
				<string>89984588</string>
				<key>link</key>
				<string>http://i.youku.com/u/UMzU5OTM4MzUy</string>
				<key>name</key>
				<string>台服痞子狼</string>
				<key>playlists_count</key>
				<integer>4</integer>
				<key>regist_time</key>
				<string>2011-07-18 10:53:46</string>
				<key>statuses_count</key>
				<integer>177</integer>
				<key>subscribe_count</key>
				<integer>0</integer>
				<key>videos_count</key>
				<string>164</string>
				<key>vv_count</key>
				<integer>6431040</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>username</key>
		<string>gamecd_war3</string>
		<key>index</key>
		<integer>6</integer>
		<key>type</key>
		<string>魔兽争霸</string>
		<key>users</key>
		<array>
			<dict>
				<key>avatar</key>
				<string>95114071</string>
				<key>avatar_large</key>
				<string>http://g1.ykimg.com/0130391F484EAF295CA69505AB535743B88741-C82E-62F7-DE3C-825522F86680</string>
				<key>description</key>
				<string>自己选择的路。爬着也要坚持下去！
为了梦想我一直在坚持！</string>
				<key>favorites_count</key>
				<integer>0</integer>
				<key>follower</key>
				<false/>
				<key>followers_count</key>
				<integer>48649</integer>
				<key>following</key>
				<false/>
				<key>following_count</key>
				<integer>3</integer>
				<key>gender</key>
				<string>m</string>
				<key>id</key>
				<string>95114071</string>
				<key>link</key>
				<string>http://i.youku.com/u/UMzgwNDU2Mjg0</string>
				<key>name</key>
				<string>wesky李晓峰</string>
				<key>playlists_count</key>
				<integer>2</integer>
				<key>regist_time</key>
				<string>2011-10-26 22:34:07</string>
				<key>statuses_count</key>
				<integer>291</integer>
				<key>subscribe_count</key>
				<integer>0</integer>
				<key>videos_count</key>
				<string>206</string>
				<key>vv_count</key>
				<integer>11434607</integer>
			</dict>
			<dict>
				<key>avatar</key>
				<string>138475086</string>
				<key>avatar_large</key>
				<string>http://g1.ykimg.com/0130391F4552944738743C0840F64E36F85732-9806-BA05-EC32-E0D8045D5F9A</string>
				<key>description</key>
				<string>WCG 2012年魔兽争霸3项目世界冠军</string>
				<key>favorites_count</key>
				<integer>0</integer>
				<key>follower</key>
				<false/>
				<key>followers_count</key>
				<integer>49268</integer>
				<key>following</key>
				<false/>
				<key>following_count</key>
				<integer>3</integer>
				<key>gender</key>
				<string>m</string>
				<key>id</key>
				<string>138475086</string>
				<key>link</key>
				<string>http://i.youku.com/u/UNTUzOTAwMzQ0</string>
				<key>name</key>
				<string>Forever_TED</string>
				<key>playlists_count</key>
				<integer>17</integer>
				<key>regist_time</key>
				<string>2012-12-22 19:02:59</string>
				<key>statuses_count</key>
				<integer>1017</integer>
				<key>subscribe_count</key>
				<integer>0</integer>
				<key>videos_count</key>
				<string>311</string>
				<key>vv_count</key>
				<integer>2312704</integer>
			</dict>
			<dict>
				<key>avatar</key>
				<string>28603498</string>
				<key>avatar_large</key>
				<string>http://g3.ykimg.com/0130391F4551FBD652096E01B4746A9181AE1C-6858-9AD6-35B4-E2973919B1DE</string>
				<key>description</key>
				<string>魔兽解说xiaoy</string>
				<key>favorites_count</key>
				<integer>6</integer>
				<key>follower</key>
				<false/>
				<key>followers_count</key>
				<integer>246981</integer>
				<key>following</key>
				<false/>
				<key>following_count</key>
				<integer>7780</integer>
				<key>gender</key>
				<string>m</string>
				<key>id</key>
				<string>28603498</string>
				<key>link</key>
				<string>http://i.youku.com/u/UMTE0NDEzOTky</string>
				<key>name</key>
				<string>邪恶的小调</string>
				<key>playlists_count</key>
				<integer>49</integer>
				<key>regist_time</key>
				<string>2009-04-21 22:08:53</string>
				<key>statuses_count</key>
				<integer>4161</integer>
				<key>subscribe_count</key>
				<integer>0</integer>
				<key>videos_count</key>
				<string>4242</string>
				<key>vv_count</key>
				<integer>162408479</integer>
			</dict>
			<dict>
				<key>avatar</key>
				<string>128127590</string>
				<key>avatar_large</key>
				<string>http://g4.ykimg.com/0130391F45523D9A0F0B2D07A31266F7330717-0685-2304-028F-E439E6948161</string>
				<key>description</key>
				<string>《风暴学院》每周更新。《月光奏鸣曲》每周不定时更新。《新兵训练营》暂停更新。小游戏类看心情更新！
风暴英雄讨论群：423196021  
星际争霸讨论群： 14476896  
魔兽争霸讨论群：298932408</string>
				<key>favorites_count</key>
				<integer>19</integer>
				<key>follower</key>
				<false/>
				<key>followers_count</key>
				<integer>3249</integer>
				<key>following</key>
				<false/>
				<key>following_count</key>
				<integer>28</integer>
				<key>gender</key>
				<string>f</string>
				<key>id</key>
				<string>128127590</string>
				<key>link</key>
				<string>http://i.youku.com/u/UNTEyNTEwMzYw</string>
				<key>name</key>
				<string>解说牙牙</string>
				<key>playlists_count</key>
				<integer>17</integer>
				<key>regist_time</key>
				<string>2012-08-22 15:16:51</string>
				<key>statuses_count</key>
				<integer>552</integer>
				<key>subscribe_count</key>
				<integer>0</integer>
				<key>videos_count</key>
				<string>450</string>
				<key>vv_count</key>
				<integer>274772</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>username</key>
		<string>gamed_other</string>
		<key>index</key>
		<integer>7</integer>
		<key>type</key>
		<string>网游/其他</string>
		<key>users</key>
		<array>
			<dict>
				<key>avatar</key>
				<string>99218432</string>
				<key>avatar_large</key>
				<string>http://g4.ykimg.com/0130391F4552AEB1670FCE05E9F40084FFF899-3F4C-05FF-4619-60DE420E03B6</string>
				<key>description</key>
				<string>大侠外设店
ldxws.taobao.com
大侠代练
lindaxia.taobao.com
大侠直播地址
http://www.douyutv.com/lindaxia
基友视频投稿邮箱
fm103.9@foxmail.com 
大侠新浪微博
http://weibo.com/lindaxia2012
大侠腾讯微博
t.qq.com/qiying_yang
大侠微信号
lindaxia-vx
大侠百度贴吧
http://tieba.baidu.com/拎大侠
大侠战机世界群 313750093
①群：217074939
②群：332938155  
③群：223721241  
④群：167534397
拎大侠全国基友群 223721159 
拎大侠京津两地群 362401186
贴吧群 345648447
VIP群223721350</string>
				<key>favorites_count</key>
				<integer>2</integer>
				<key>follower</key>
				<false/>
				<key>followers_count</key>
				<integer>27856</integer>
				<key>following</key>
				<false/>
				<key>following_count</key>
				<integer>143</integer>
				<key>gender</key>
				<string>m</string>
				<key>id</key>
				<string>99218432</string>
				<key>link</key>
				<string>http://i.youku.com/u/UMzk2ODczNzI4</string>
				<key>name</key>
				<string>党员拎壶冲</string>
				<key>playlists_count</key>
				<integer>26</integer>
				<key>regist_time</key>
				<string>2012-01-04 12:17:42</string>
				<key>statuses_count</key>
				<integer>4751</integer>
				<key>subscribe_count</key>
				<integer>0</integer>
				<key>videos_count</key>
				<string>2821</string>
				<key>vv_count</key>
				<integer>8321509</integer>
			</dict>
			<dict>
				<key>avatar</key>
				<string>70120953</string>
				<key>avatar_large</key>
				<string>http://g4.ykimg.com/0130391F484C4736FB847F042DF5F964499355-1969-9574-3F24-4AD255223AAB</string>
				<key>description</key>
				<string>有时候可能会在*鱼上直播csgo匹配（或者其他游戏的东西）
地址:http://www.douyutv.com/1298
2014/8/3
啊假期了   可能总得做几个视频  吧?

围脖:http://weibo.com/u/2984045510
人人主页之前就有了 木发出来
http://page.renren.com/601053038?id=601053038
我和加加的CS:GO群:260547278
我和加加的5群:165152603
我和加加的1群:137446397
我和加加的2群:91331276
我和加加的3群:73930218
我和加加的4群:15714896
论坛:http://xiaozjiajia.5d6d.com/bbs.php
yy:23634754
贴吧荒废中</string>
				<key>favorites_count</key>
				<integer>7</integer>
				<key>follower</key>
				<false/>
				<key>followers_count</key>
				<integer>3639</integer>
				<key>following</key>
				<false/>
				<key>following_count</key>
				<integer>199</integer>
				<key>gender</key>
				<string>m</string>
				<key>id</key>
				<string>70120953</string>
				<key>link</key>
				<string>http://i.youku.com/u/UMjgwNDgzODEy</string>
				<key>name</key>
				<string>cs小z</string>
				<key>playlists_count</key>
				<integer>6</integer>
				<key>regist_time</key>
				<string>2010-07-22 01:57:28</string>
				<key>statuses_count</key>
				<integer>315</integer>
				<key>subscribe_count</key>
				<integer>0</integer>
				<key>videos_count</key>
				<string>243</string>
				<key>vv_count</key>
				<integer>2717233</integer>
			</dict>
			<dict>
				<key>avatar</key>
				<string>64517754</string>
				<key>avatar_large</key>
				<string>http://g4.ykimg.com/0130391F484E9E416F891C03D8767A650BA759-8936-92FF-C799-7278B5E59DDB</string>
				<key>description</key>
				<string>商业合作广告招商请发邮件到　　　　xiemingjun@qq.com</string>
				<key>favorites_count</key>
				<integer>24</integer>
				<key>follower</key>
				<false/>
				<key>followers_count</key>
				<integer>65132</integer>
				<key>following</key>
				<false/>
				<key>following_count</key>
				<integer>11</integer>
				<key>gender</key>
				<string>m</string>
				<key>id</key>
				<string>64517754</string>
				<key>link</key>
				<string>http://i.youku.com/u/UMjU4MDcxMDE2</string>
				<key>name</key>
				<string>我是推推棒</string>
				<key>playlists_count</key>
				<integer>4</integer>
				<key>regist_time</key>
				<string>2010-05-28 11:55:12</string>
				<key>statuses_count</key>
				<integer>197</integer>
				<key>subscribe_count</key>
				<integer>0</integer>
				<key>videos_count</key>
				<string>413</string>
				<key>vv_count</key>
				<integer>62214323</integer>
			</dict>
			<dict>
				<key>avatar</key>
				<string>40734180</string>
				<key>avatar_large</key>
				<string>http://g3.ykimg.com/0130391F4251734FCE976D026D8DE417AE2550-7D7C-C762-2F3B-0FB766D1CC9F</string>
				<key>description</key>
				<string>低调的做人，低调的做事。

本名路昊明，河南平顶山市人，现年17岁，高三学生。

2011年在优酷网发布第一部原创解说视频。
2012年8月开始在优酷网持续更新。
2013年优酷网视频总播放量突破800W。
2014年7月成为优酷游戏达人，优酷网视频播放量突破1000W。
2015年2月视频总数突破两百部。

谢谢大家一直以来的支持，未来的路还有很长，高考过后，我们后会有期！

唯一QQ：534983934

官方QQ一群：43727945
官方QQ二群：176397432
官方QQ三群：176402111
官方QQ四群：57187195
官方QQ五群：327482866
官方QQ六群：327482944
官方QQ七群：327483105
官方QQ八群：327483223
官方QQ九群：328169347
（2015年暑假会对QQ群进行合并，请各位先加前两个群）</string>
				<key>favorites_count</key>
				<integer>18</integer>
				<key>follower</key>
				<false/>
				<key>followers_count</key>
				<integer>2743</integer>
				<key>following</key>
				<false/>
				<key>following_count</key>
				<integer>52</integer>
				<key>gender</key>
				<string>m</string>
				<key>id</key>
				<string>40734180</string>
				<key>link</key>
				<string>http://i.youku.com/u/UMTYyOTM2NzIw</string>
				<key>name</key>
				<string>p猪大侠</string>
				<key>playlists_count</key>
				<integer>7</integer>
				<key>regist_time</key>
				<string>2009-10-01 13:14:21</string>
				<key>statuses_count</key>
				<integer>2016</integer>
				<key>subscribe_count</key>
				<integer>0</integer>
				<key>videos_count</key>
				<string>305</string>
				<key>vv_count</key>
				<integer>5706050</integer>
			</dict>
		</array>
	</dict>
</array>
</plist>
